
<%= form_for pin, html: { multipart: true } do |f| %>

  <% if pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



 <div class="form-group" id="pin-url-field">
    <%= f.label :url, "Copy (control+c) and paste (control+v) the item URL address from your browser" %>
    <%= f.text_field :url, class: "form-control" %>
    <span style="color:red" id='notice'></span>
  </div>



  <div class="form-group">
    <%= f.label :description, "Describe This Item In Your Own Words" %>
    <%= f.text_field :description, :maxlength => 255, class: "form-control" %>
  </div>
  
  <div class="form-group" style="display:none;">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Track it, Marla!", class: "btn btn-primary" %>
  </div>
<% end %>



