<% @title = 'Edit Item - Marla Knows' %>
<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Tracked Items', pins_path %></li>
  <li class="active">Edit Your Item</li>
</ol>
<h1>Edit Your Item</h1>
	<div class="container" id="edit-pin">
		<div class="row">
        	<div class="col-md-6">
	 <%= image_tag @pin.image.url(:medium) %>
	 		</div>
	 		<div class="col-md-6">
	 <%= render 'form', :pin => @pin %>
	 		</div>
	 	</div>
	
	</div>
<br><br>
	<div class="well">
	<%= link_to pins_path do %>
              <span class="glyphicon glyphicon-remove"></span> Cancel
            <% end %>
	</div>.
</div>
