<div class="container">

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Tracked Items', pins_path %></li>
  <li class="active">Your Item</li>
</ol>


<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><%= @pin.description %></p>
        <p>
		<strong>Product</strong>
			<%= link_to @pin.product.name, @pin.product %>
		</p>
		<p>
			 <strong>Web Address:</strong>
		 	 <%= @pin.url %>
			</p>
			<p>
				<%= number_to_currency(@pin.product.price, :unit => "$", :separator => ".") %>
			</p>
        <p><strong><%= @pin.user.name if @pin.user %></strong></p>

        <% if @pin.user == current_user %>
         	<%= link_to edit_pin_path(@pin) do %>
        	<span class="glyphicon glyphicon-edit"></span>
        		Edit
      		<% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
</div>