<p id="notice"><%= notice %></p>
<%= image_tag @pin.image.url(:medium) %>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<p>
	 <strong>Web Address:</strong>
  <%= @pin.url %>

</p>

<p>
<strong>Product</strong>
	<%= link_to @pin.product.name, @pin.product %>
</p>

 <% if @pin.user == current_user %>
     <%= link_to 'Edit', edit_pin_path(@pin) %> |
<% end %>
<%= link_to 'Back', pins_path %>
