
<%= form_for @store, html: { multipart: true } do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url, "Store URL Address" %>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Store Description" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Upload Logo" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
<div class="form-group">
    <%= f.label :image, "Or Upload Logo From URL" %>
    <%= f.text_field :image_remote_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :product_selector, "Product Selector" %>
    <%= f.text_field :product_selector, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name_selector, "Name Selector" %>
    <%= f.text_field :name_selector, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price_selector, "Price Selector", class: 'price_selector' %>
    <%= f.text_field :price_selector, class: "form-control price_selector" %>
    <%= check_box_tag :sales_price_selector, "1", false %> Uses separate sales price?
  </div>

  <div class="form-group">
    <%= f.label :price_selector_2, "Sale Price Selector", class: 'price_selector_2' %>
    <%= f.text_field :price_selector_2, class: "form-control price_selector_2" %>
  </div>

  <div class="form-group">
    <%= f.label :image_selector, "Image Selector" %>
    <%= f.text_field :image_selector, class: "form-control" %>
        <%= f.check_box :image_uses_relative_path, {}, true %> Uses relative path
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>

