
<% @title = 'Available Stores - Marla Knows' %>
<div class="container">
<h1>Visited Stores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Web Address</th>
      <th>Description</th>
      <th>Status</th>
      <% if user_signed_in? && current_user.admin? %>
      <th></th>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store %></td>
        <td><%= link_to store.url, 'http://'+store.url, target: "_blank" %></td>
        <td><%= store.description %></td>
        <td><%= store.status %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Show', store, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_store_path(store), class: 'btn btn-success' %></td>
        <td><%= link_to 'Delete', store, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Store', new_store_path, class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Suggest A Store', new_contact_path, class: 'btn btn-primary' %>
</div>