<p id="notice"><%= notice %></p>

<p>
  <strong>Storeid:</strong>
  <%= @store.StoreId %>
</p>

<p>
  <strong>Storetitle:</strong>
  <%= @store.StoreTitle %>
</p>

<p>
  <strong>Storeurl:</strong>
  <%= @store.StoreUrl %>
</p>

<p>
  <strong>Storedesc:</strong>
  <%= @store.StoreDesc %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
