<% @title = @store.name + " - Marla Knows" %>

<div class="container">
<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Available Stores', stores_path %></li>
  <li class="active"> <%= @store.name %></li>
</ol>

<h1>
          <%= @store.name %>
        </h1>

        <p>
          <%= @store.description %>
        </p>

      
       
          <h4>Web Address: <%= link_to @store.url, "http://"+@store.url, target: "_blank" %>
        </h4>
<p style="display:none;">
<%= image_tag @store.image.url(:medium) %>
</p>

<h4>
  <strong>Products:</strong>
  </h4>

      <div id="products" class="transitions-enabled infinite-scroll clearfix">
 <ul>
        <% @store.products.each do |product| %>
          <%= render product %>


         
        <% end %>

        </ul>
      </div>

      



<div class="clearfix">

<% if user_signed_in? && current_user.admin? %>
<p>
  <strong>Pins:</strong>
   <ul>
   <% for pin in @store.pins %>
      <li><%= pin.description %></li>
    <% end %>
    </ul>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<% end %>
<%= link_to 'Back', stores_path, class: "btn btn-default" %>
</div>
</div>
