<% @title = @store.name + " - Marla Knows" %>

<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
<%= image_tag @store.image.url(:medium) %>
</p>

<p>
  <strong>Web Address:</strong>
  <%= @store.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Products:</strong>
   <ul>
   <% for product in @store.products %>
      <li><%= link_to product.name, edit_product_path(product) %></li>
    <% end %>
    </ul>
</p>
<% if user_signed_in? && current_user.admin? %>
<p>
  <strong>Pins:</strong>
   <ul>
   <% for pin in @store.pins %>
      <li><%= pin.description %></li>
    <% end %>
    </ul>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<% end %>
<%= link_to 'Back', stores_path %>
</div>
