<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Web Address:</strong>
  <%= @store.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<%= params.inspect %>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
