<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ProdId %><br>
    <%= f.number_field :ProdId %>
  </div>
  <div class="field">
    <%= f.label :ProdTitle %><br>
    <%= f.text_field :ProdTitle %>
  </div>
  <div class="field">
    <%= f.label :ProdDesc %><br>
    <%= f.text_area :ProdDesc %>
  </div>
  <div class="field">
    <%= f.label :ProdImageUrl %><br>
    <%= f.text_field :ProdImageUrl %>
  </div>
  <div class="field">
    <%= f.label :ProdUrl %><br>
    <%= f.text_field :ProdUrl %>
  </div>
  <div class="field">
    <%= f.label :ProdPrice %><br>
    <%= f.text_field :ProdPrice %>
  </div>
  <div class="field">
    <%= f.label :CurrProdPrice %><br>
    <%= f.text_field :CurrProdPrice %>
  </div>

<div class="field">
<%= collection_select(:product, :StoreId, Store.all, :id, :StoreTitle, prompt: true) %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
