<div class="box panel panel-default">
  <%= link_to (image_tag product.imageurl, class: "img-responsive"), product %>
  <div class="panel-body">
    <%= product.name %><br />
    <%= link_to product.store.try(:name), product.url, target: '_blank' %><br />
    <h4><%= number_to_currency(product.price, :unit => "$", :separator => ".") %></h4>

    <% if user_signed_in? && current_user.admin? %>
        <% if product.status == "Inactive" %>
          <span class="inactive">Inactive</span>
        <% end %>
        <%= link_to "Track this item", track_product_url(product), method: :put if current_user && !current_user.tagged_products.include?(product)%>
        <div class="actions">
          <%= link_to edit_product_path(product) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
          <% end %>
          <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          Delete
          <% end %>
        </div>
    <% end %>

  </div>
</div>
