<%= render 'pages/home' unless user_signed_in? %>

<h1 class="center">Recently Tracked Items</h1>




<div id="products" class="transitions-enabled">

  <% @products.each do |product| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag product.imageurl, class: "img-responsive"), product %>
      <div class="panel-body">
        <%= product.name %><br />
        <%= link_to product.store.try(:name), product.url %><br />
        <h4><%= number_to_currency(product.price, :unit => "$", :separator => ".") %>
</h4>
        


        <% if user_signed_in? && current_user.admin? %>
          <div class="actions">
           <%= link_to edit_product_path(product) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete 
              <% end %>
            
                           
             
           
               

          </div>
          
        <% end %>
         <!-- Button trigger modal -->
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#<%= product.id %>">
                             <span class="glyphicon glyphicon-eye-open"></span> Track
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Track This Item's Price</h4>
                                  </div>
                                  <div class="modal-body">
                                     <%= render 'pins/form', :pin => Pin.new(:url => product.url, :image => product.imageurl) %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    
                                  </div>
                                </div>
                              </div>
                            </div>
              
      </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
