        <div class="container">
        <p id="notice"><%= notice %></p>

        
        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>

      
        <p>
          <strong>Store Name:</strong>
          <%= @product.store.name %>
        </p>


        <p>
          
          <%= link_to (image_tag @product.imageurl, class: "img-responsive"), @product.url %>
        </p>

        <p>
          <strong>Url:</strong>
          <%= @product.url %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= number_to_currency(@product.price, :unit => "$", :separator => ".") %>
        </p>

        <p>
          <%= @product.product_price_updates.previous_price %><br />
          <%= @product.product_price_updates.updated_price %>
          <%= @product.product_price_updates.created_at%><br />
          <%= @product.product_price_updates.updated_at%>
          <%= @product.product_price_updates.status%>

        </p>

       

        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
</div>