<p id="notice"><%= notice %></p>

<p>
  <strong>Prodid:</strong>
  <%= @product.ProdId %>
</p>

<p>
  <strong>Prodtitle:</strong>
  <%= @product.ProdTitle %>
</p>

<p>
  <strong>Proddesc:</strong>
  <%= @product.ProdDesc %>
</p>

<p>
  <strong>Store Id:</strong>
  <%= @product.Store_id %>
</p>


<p>
  <strong>Prodimageurl:</strong>
  <%= @product.ProdImageUrl %>
</p>

<p>
  <strong>Produrl:</strong>
  <%= @product.ProdUrl %>
</p>

<p>
  <strong>Prodprice:</strong>
  <%= @product.ProdPrice %>
</p>

<p>
  <strong>Currprodprice:</strong>
  <%= @product.CurrProdPrice %>
</p>

<%= params.inspect %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
