        <div class="container">
        <p id="notice"><%= notice %></p>

        
        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>

      
        <p>
          <strong>Store Name:</strong>
          <%= @product.store.name %>
        </p>


        <p>
          
          <%= link_to (image_tag @product.imageurl, class: "img-responsive"), @product.url %>
        </p>

        <p>
          <strong>Url:</strong>
          <%= @product.url %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= number_to_currency(@product.price, :unit => "$", :separator => ".") %>
        </p>
       

        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
</div>
<% if @product.product_price_updates.length > 0 %>
<table class='table' style="width:80%;margin: 0px auto">
  <caption><h2>History</h2></caption>
  <thead>
    <tr>
      <th>Time</th>
      <th>Previous Price</th>
      <th>Latest Price</th>
    </tr>
  </thead>
  <tbody>
    <% @product.product_price_updates.each do |price_update| %>
      <tr>
        <td><%= price_update.created_at.to_s(:long) %></td>
        <td><%= price_update.previous_price %></td>
        <td><%= price_update.updated_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>